// Import utilities.
@use 'utils/typography';
@use 'utils/colors' as colors;
@use 'utils/mixins';
@use 'utils/variables';


@use 'tables';
/* Global styles */
@use "sass:meta";
@use 'global/window';
@use 'global/grid';
@use 'global/flex';
@use 'components/chat';

/* Styles limited to apocthulhu sheets */
.apocthulhu {
  @include meta.load-css('components/forms');
  @include meta.load-css('components/resource');
  @include meta.load-css('components/items');
  @include meta.load-css('components/skills');
  @include meta.load-css('components/effects');
}


// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.star {
  width: 50px;
  height: 50px;
  background-color: pink;
  position: relative;
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star::before {
  width: 100%;
  height: 100%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 50px solid pink;
}

.star::after {
  width: 100%;
  height: 100%;
  border-top: 25px solid pink;
  border-bottom: 25px solid pink;
  border-right: 50px solid transparent;
}

.sheet header.sheet-header .flexshrink {
  flex: 0;
}

input[type="checkbox"]:checked {
  accent-color: colors.$color-primary-0;
}

.tabs .item.active {
  text-shadow: 0 0 10px colors.$color-secondary-2-2;
}

.resource-content {
  margin: .25rem;
}