$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$color-primary-0: #907B10;	// Main Primary color */
$color-primary-1: #FFD600;
$color-primary-2: #D9B601;
$color-primary-3: #504511;
$color-primary-4: #1B1808;

$color-secondary-1-0: #0C6D22;	// Main Secondary color (1) */
$color-secondary-1-1: #00ED34;
$color-secondary-1-2: #01A425;
$color-secondary-1-3: #0D3C17;
$color-secondary-1-4: #061409;

$color-secondary-2-0: #901010;	// Main Secondary color (2) */
$color-secondary-2-1: #FF0000;
$color-secondary-2-2: #D90101;
$color-secondary-2-3: #501111;
$color-secondary-2-4: #1B0808;
