<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Arcane Rituals</div>
    <div class="item-prop">Study Time</div>
    <div class="item-prop">Casting Time</div>
    <div class="item-prop">Consequence</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="spell"><i class="fas fa-plus"></i> Add Archine Ritual</a>
    </div>
  </li>
  {{#each spells as |spell id|}}
    <li class="item flexrow" data-item-id="{{spell._id}}">
      <div class="item-name flexrow">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{spell.img}}" title="{{spell.name}}" width="24" height="24"/></a>
        </div>
        <h4>{{spell.name}}</h4>
      </div>
      <div class="item-prop">{{spell.studyTime}}</div>
      <div class="item-prop">{{spell.castingTime}}</div>
      <div class="item-prop">{{spell.consequence}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Terrible Tomes</div>
    <div class="item-prop">Study Time</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="tome"><i class="fas fa-plus"></i> Add Tome</a>
    </div>
  </li>
  {{#each tomes as |tome id|}}
    <li class="item flexrow" data-item-id="{{tome._id}}">
      <div class="item-name flexrow">
        <div class="item-image">
          <a class="rollable" data-roll-type="item"><img src="{{tome.img}}" title="{{tome.name}}" width="24" height="24"/></a>
        </div>
        <h4>{{tome.name}}</h4>
      </div>
      <div class="item-prop">{{tome.studyTime}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
