<h1> Items </h1>
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">{{localize "apocthulhu.Item.Name"}}</div>
    <div class="item-quantity">{{localize "apocthulhu.Item.Quantity"}}</div>
    <div class="item-quality">{{localize "apocthulhu.Item.Quality"}}</div>
    <div class="item-formula">{{localize "apocthulhu.Item.Roll"}}</div>
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "apocthulhu.Item.Add"}}' data-type="item"><i class="fas fa-plus"></i> {{localize "apocthulhu.Item.Add"}}</a>
    </div>
  </li>
  {{#each gear as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name grid-2col">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}"/>
        <span class="name">{{item.name}}</span>
      </div>
      <span class="item-quantity">{{item.quantity}}</span>
      <span class="item-quality">{{item.quality}}</span>
      <span class="item-formula roll">{{item.system.formula}}</span>
      <div class="item-controls">
        <a class="item-controls item-edit" title='{{localize "apocthulhu.Item.Edit"}}'><i class="fas fa-edit"></i></a>
      </div>
    </li>
    {{/each}}
</ol>
<ol class="items-list">
  <h1> Weapons </h1>
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="weapon-formula">Damage</div>
    <div class="weapon-range">Range</div>
    <div class="weapon-radius">Radius</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i> Add Weapon</a>
    </div>
  </li>
  {{#each weapons as |weapon id|}}
    <li class="item flexrow" data-item-id="{{weapon._id}}">
      <div class="item-name grid-2col">
        <img class="item-image" src="{{weapon.img}}" title="{{weapon.name}}"/>
        <span class="name">{{weapon.name}}</span>
      </div>
      <div class="weapon-formula item-prop rollable" data-roll-type="item">{{weapon.damage}}</div>
      <div class="weapon-range item-prop rollable" data-roll-type="item">{{weapon.range}}</div>
      <div class="weapon-radius item-prop rollable" data-roll-type="item">{{weapon.radius}}</div>
      <div class="item-controls">
        <a class="item-controls item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
