<h1>Skills</h1>
<ol class="skills-list">
  <li class="item flexrow grid-2col">
    <div class="skill-name">Name</div>
    <div class="skill-controls">
      <a class="skill-control skill-create" title="Create item" data-type="skill"><i class="fas fa-plus"></i> Add Skill</a>
    </div>
  </li>
  {{#each skills as |item id|}}
    <li class="item flexrow grid-2col" data-item-id="{{item._id}}">
      <div class="skill-name rollable" data-roll-type="item">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}"  width="24" height="24"/>
        <span class="name">{{item.name}}</span>
      </div>
      <div class="item-controls">
        <a class="skill-control skill-create" title="Edit Item"><i class="fas fa-edit"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
