<h4 class="dice-total">
  <div class="modifier">
    <label> {{this.result}} </label>
    {{#if this.isSkill}}
    <!-- <button class="skill-failure" image=""{{this.img}}" /> -->
    {{/if}}
  </div>
</h4>
