<div class="dice-formula">
  {{#each dice}}
  <div class="dice">
    <label style="color:{{this.color}};"> {{this.result}} </label>
    {{#if this.img}}
    <img src="{{this.img}}" />
    {{/if}}
  </div>
  {{/each}}
</div>
