<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header" data-item-id='{{item.id}}'>
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      <div class='item-controls'>
        <a class='item-control item-delete' title='Delete'><i
            class='fas fa-trash fa-2x'
          ></i></a>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <label class="resource-label">Target Value</label>
      <input type="text" name="data.targetValue" value="{{data.targetValue}}" data-dtype="Integer"/>
      <label class="resource-label">Has Failed</label>
      <input type="checkbox" name="data.failed"{{#if data.failed}} checked {{/if}} data-dtype="boolean"/>
      {{!-- System tools --}}
      {{#if isGM }}
      <br />
      <label class="resource-label">Shows in weapons</label>
      <input type="checkbox" name="data.showsInWeapons"{{#if data.showsInWeapons}} checked {{/if}} data-dtype="boolean"/>
      <br />
      <label class="resource-label">Removes max sanity</label>
      <input type="checkbox" name="data.removesSanity"{{#if data.removesSanity}} checked {{/if}} data-dtype="boolean"/>
      {{/if}}
    </div>
  </section>

</form>
